<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ArticleMapper">

	<!-- 게시글 등록 -->
	<insert id="addArticle" parameterType="com.example.domain.Article">
		<![CDATA[ 
		 	INSERT INTO article
    			(title, content, writer_id, category, reg_at, mod_at)
    		VALUES
    			(#{title}, #{content}, #{writerId}, #{category}, NOW(), NOW())
		]]>
	</insert>
	
	
	<select id="getArticle" resultType="com.example.domain.Article">
		<![CDATA[
			SELECT
				title,
				content,
				writer_id AS writerId,
				category,
				reg_at AS regAt,
				mod_at AS modAt
			FROM article
		]]>
	</select>
</mapper>
